@import "tailwindcss"; 

@theme {

  --color-primary: #2563eb;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-sidebar: #0f172a;
  --color-background: #f8fafc;
  --color-card: #ffffff;

  --font-primary:"Inter", sans-serif;
}